body{
	margin: 0;
	width: 100%;
	font-family: Verdana, sans-serif;
	color: #1c4c52;
}

p{
	line-height: 1.4;
}


.container{
	margin: 0 auto;
	max-width: 1200px; /* is there a better way to handle this width so it doesnt result in scrolling on smaller laptops*/
}

.flex{
	display: flex;
}

.space-between{
	justify-content: space-between;
}

header{
	margin: 0;
	color: #000000;
}
h1{
	margin:0;
	padding:0;
	font-family: garamond, serif;
	font-size: 36px;
}

h2{
	margin:0;
	padding:0;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;
}

h3{
	font-family: garamond, serif;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

#logo{
	/*background-color: yellow;*/
	float: left;
	clear: both; /* is there a better way to clear without having to have it twice*/
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:10px;	
}

#phonelocation{
	width: 210px;
	float: right;
	/*background-color: purple;*/
	font-family: verdana, sans-serif;
	text-align: right;
	line-height: 1.3;
	margin-right:30px;
}

a{
	text-decoration: none;
}


/*NAVIGATION STYLES---------- NAVIGATION STYLES ----------- NAVIGATION STYLES */

#navcontainer{
	/*background-color: orange;*/
	width: 575px;
	float: right;
}

#mainNav{
	clear: both;
	width:100%;
	height: 30px;
	background-color: #1C4C52;
	font-size: 125%;
	font-family: Garamond, serif;
}

nav ul{
	/*background-color: pink;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 555px;
	float: right;
	margin-bottom:20px;
}

nav ul li{
	/*background-color: green;*/
	display: inline-block;
	position: relative;
	text-align: left;
}

nav ul li a {
	display: block;
	margin-right: 25px;
	margin-top: 3px;
	margin-bottom:5px;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}


nav ul li ul.dropdown{ 

	min-width: 125px; /* Set width of dropdown */
	width: 135px;/* how to make this responsive*/
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	box-shadow: 2px 2px 2px #000000;

}

nav ul li:hover ul.dropdown{ 
	display: block; /* display the dropdown*/
}

nav ul li ul.dropdown li{
	background-color: #1C4C52;
	display: block;
	margin-top: 0px;
	height:20px;
	padding:10px;
	width: 115px;
	border-top:2px solid white;
}

/*END OF NAVIGATION STYLES---------- END OF NAVIGATION STYLES ----------- END OF NAVIGATION STYLES */

/* HERO STYLES*/

.hero{
	margin: 0 auto;
	padding: 0;
	background-image: url("../images/Woman Learning to Drive.png");
	/*background-size: play with this! */
	height: 507px;
	position: relative;
}

.herocallout{
	background-color: #1c4c52;
	color: #ffffff;
	max-width: 340px;
	height: 415px;
	float: right;
	border-radius: 8px;
	font-family: verdana;
	line-height: 1.4;
	position:absolute;
	right: 50px;
	top: 50px;
}

.herocallout p {
	float:left;
	margin: 0;
	margin-bottom: 10px;
	padding: 20px;
	padding-bottom: 0;
	/*background-color: black;*/
	
}

.herocallout img{
	float: right;
	padding: 10px;
	/*background-color: green;*/
}

.clear {
clear:both;
}

.button {
	margin: 0px auto;
	padding: 20px;
	width: 200px;
	background-color: lightgray;
	text-align: center;
	font-weight: bold;
	font-family: verdana, sans-serif;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #000000;
}

.button a:link{
	color: #1C4C52;
}

.button a:visited{
	color: #1C4C52;
}

.button a:hover{
	color: #ffffff;
}

/* END of HERO STYLES*/

/* ARTICLE STYLES*/
.columns{
	margin: 10px auto;
	/*background-color: lightblue;*/
}

.column{
	width: 33%;
	padding-top: 10px;
	line-height: 1.4;
	/*background-color: pink;*/
	margin-right: 20px;
	margin-left: 20px;
}

.column img{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
}


/* ARTICLE STYLES*/
article p img{
	float: left;
}



/*FOOTER STYLES */

footer{
	margin:0;
	padding:0;
	background-color: gray;
	color: #ffffff;
	font-family: verdana, sans-serif;
	clear: both;
	bottom: 0;
}

footer .button{
	margin: 0;
	margin-top: 20px;

}

footer ul{
	list-style: none;
	/*background-color: green;*/
	padding: 0;
}

footer .nav a:link {
	color: #ffffff;
}

footer .nav a:visited{
	color: #ffffff;
}

footer .nav a:hover{
	color: #1C4C52;
}
/*END OF FOOTER STYLES */

/*DRIVING LESSONS*/

#articleContent{
	max-width: 700px;
	/*background-color: green;*/
	float: left;
	/*position: relative;*/
}

#articleContent p{
	padding-left: 20px;
	padding-bottom: 10px;
}

#articleContent img{
	margin-right: 15px;
}
#articleContainer{
		/*background-color: red;
		max-height: 900px;*/
}

#articleCallout{
		position:static;
		max-height: 340px;
		margin-top: 30px;
		margin-right: 50px;
}

/*ACCORDION MENU */



.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.accordion{
	margin-top: 20px;
}

.accordion li {
    list-style: none;
 }

 .accordion li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 0 10px 0 40px;
    margin-bottom: 10px;
 
    color: #fdfdfd;
   	font: 18px/32px Verdana, sans-serif;*/
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
 
    background-color: gray;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}


/* HOVER AND ACTIVE STATES */
.accordion > li:hover > a,
.accordion > li:target > a {
    color: #09181A;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
 
    /*background: url(../img/active.png) repeat-x;*/
    background: #1c4c52;
}
 
.sub-menu li:hover a { background: #efefef; }

/*SHOW AND HIDE*/
.accordion li > .sub-menu {
   
    height: 0;
    overflow: hidden;
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 
.accordion li:target > .sub-menu {
    /*height: 100%;*/
    height: 200px;
}

figure{
	margin: 0;
	padding: 0;
	width: 300px;
	float: left;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

.tabletCallout{
	display:none;
}

#logoMobile{
	display:none;
}

#mobileNav{
	display: none;
}

#phonelocationmobile{
	display: none;

}

/*TABLET*/
@media (max-width: 980px){ /*width up to 980px*/

	.container{
		width:700px;
	}

	.hero{
	
		background-image: url("../images/Woman-Learning-to-Drive-Tablet60.png");
		height: 315px;
		position: relative;
	}

	.herocallout{
		max-width: 275px;
		height: 275px;
		line-height: 1.4;
		right: 20px;
		top: 20px;
	}

	.herocallout p {
		/*background-color: black;*/
		margin-bottom: 5px;
		padding: 13px;
		padding-bottom: 0;
		font-size: 15px;
	}

	.desktopCallout{
		display: none;
	}

	.tabletCallout{
		display: block;
	}

	.button {
		margin: 0 auto; 
		padding: 15px;
		width: 200px;
		font-size: 14px;
		font-weight: bold;
	}

	.column{
		width: 100%;
	}

	.flex{
		display: flex;
		flex-wrap: wrap;
	}

	footer .flex
	{
		flex-wrap: nowrap;
	}

	.accordion{
		width: 350px;
	}

	.videoCallout{
		display: none;
	}

}

/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE*/
@media (max-width: 742px){ /*width up to 742*/
	.container{
		width: 90%;
		/*background-color: pink;*/
	}

	.hero{
		display: none;
	}

	#articleCallout{
		display:none;
	}

	#phonelocation{
		display:none;
	}

	#phonelocationmobile{
		display: block;
		
		/*background-color: pink;*/
		width: 200px;
		margin: 0 auto;
		text-align: center;
		font-size: 13px;
		line-height: 1.3;
	}

	#logo{
		display: none;
	}

	#logoMobile{
		/*background-color: red;*/
		text-align: center;
		display: block;
		margin-top: 15px;
		
	}

	footer .flex{
		flex-wrap: wrap;
	}

	footer .column{
		margin: 0 auto;
	}


	#mainNav{
		display:none;
	}

	#mobileNav{
		display: block;
		clear: both;
		height: 256px;
		background: #1c4c52;
	}

	#mobileSchedule{
		text-align: center;
		padding-top: 20px;
		height: 35px;
		border-bottom: 1px solid white;
		border-right: 1px solid white;

	}

	nav ul{
		/*background-color: green;*/
		width: 100%;
		margin:0;
		padding:0;
		text-align: center;
	}

	nav ul li{
		/*background-color: orange;*/
		margin:0;
		height: 100px;
		text-align: center;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		vertical-align: middle;
		width: 50%;
		box-sizing: border-box;
		float: left;
	}

	nav ul li a{
		/*background-color: red;*/
		margin:0;
		position: relative;
		top:50%; /* Brings it down 50% of the container*/
		transform: translateY(-50%);/*brings it back up 50% of itself*/
		padding: 5px;
	}

	.videoCallout{
		display: none;
	}

}


